.stick_that_nav {
  position: sticky;
  display: relative;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: fit-content;
  padding: 0 0 10px 0;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    .youtube-logo {
      margin-left: 20px;
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        gap: 3px;
        i {
          position: relative;
          font-size: 28px;
          color: $red;
          .logo-bg {
            position: absolute;
            background-color: white;
            width: 15px;
            height: 12px;
            top: 8px;
            left: 10px;
            z-index: -1;
          }
        }
        span {
          height: 1.1em;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: -2px;
          transform: scaleY(130%);
        }
      }
    }
    .hello-user-navbar {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 50px;
      img {
        border-radius: 100vmax;
        object-fit: cover;
      }
    }
  }
  nav {
    width: 100%;
    margin: -50px 0 0 0;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      min-width: 300px;
      max-width: 400px;
      a {
        transition: 0.2s;
        font-size: 1em;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        filter: brightness(1);
        border-radius: 10px;
        i {
          font-size: 20px;
        }
        &:hover {
          transition: 0.2s;
          filter: brightness(0.9);
        }
        &:active {
          filter: brightness(1);
        }
        @media screen and (max-width: 410px) {
          padding: 5px;
          font-size: 0.6em;
        }
      }
    }
    @media screen and (max-width: 850px) {
      margin-top: -5px;
    }
    @media screen and (max-width: 320px) {
      display: none;
    }
  }
}
