.page__header {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 40px 50px;
  width: fit-content;
  letter-spacing: -1px;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    padding: 80px 0;
    width: 90%;
  }
}
#footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 8px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
