// @keyframes bgMove {
//   0% {
//     background-position: left;
//   }
//   50% {
//     background-position: right;
//   }
//   50% {
//     background-position: left;
//   }
//   100% {
//     background-position: right;
//   }
// }

.page__header {
  // color: $red;
  // background: linear-gradient(
  //   90deg,
  //   white,
  //   white,
  //   rgb(144, 32, 178),
  //   rgb(56, 228, 228),
  //   pink,
  //   white,
  //   white
  // );
  // background-size: 2000%;
  // animation: bgMove 10s infinite;
  // border-radius: 100vmax;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 40px 50px;
  width: fit-content;
  letter-spacing: -1px;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    padding: 80px 0;
    width: 90%;
  }
}
#footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 8px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
