.profile__page {
  width: 100%;
  min-height: fit-content;
  #profile-header {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 3px solid rgba(48, 177, 252, 0.274);
    .user-profile-pic-div {
      z-index: 1;
      display: flex;
      justify-content: center;
      height: 250px;
      max-width: 100%;
      img {
        max-height: 250px;
        width: auto;
        max-width: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    .user-about-div {
      display: flex;
      flex-direction: column;
      .user-headers {
        width: fit-content;
        padding: 3px 10px;
        margin: 10px;
        font-size: 1.5em;
        border-bottom: 2px solid rgba(187, 187, 187, 0.199);
      }
      h4 {
        font-size: 1em;
        padding: 5px;
      }
    }

    @media screen and (max-width: 750px) {
      flex-direction: column;
      .user-about-div {
        width: 100%;
        display: flex;
        align-items: center;
        .user-headers {
          margin: 10px 0;
          width: 90%;
          text-align: center;
          padding: 3px 0;
        }
        h4 {
          width: 90%;
          text-align: left;
        }
      }
    }
  }
  h3 {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
  }
}
