#upload-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  #recordDiv {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #preview {
      width: fit-content;
      max-width: 95%;
      height: fit-content;
      max-height: 400px;
      margin-bottom: 10px;
    }
  }
  #download {
    display: none;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: thin solid white;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 100px;
  }
}
