.watch-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  #vid_title {
    font-size: 2.2em;
    text-align: left;
    width: 80%;
    margin: 20px auto;
  }
  small {
    width: 80%;
    margin: 0 auto;
  }
  .uploader {
    width: 80%;
    margin: 0 auto;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50vmax;
    }
  }
}
video {
  // aspect-ratio: 16/9;
  width: 100%;
  height: 600px;
  max-height: 100%;
  background: rgb(0, 0, 0);
  margin: 0 auto;
}

#play,
#mute,
#fullscreen,
#small-player {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 111, 221);
  width: 20px;
  height: 20px;
  border-radius: 100vmax;
  margin: 0 2px;
  padding: 5px 5px;
}
#watch-page-video-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#controllls {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.534);
}
#timeline {
  width: 40%;
}
#volume {
  width: 20%;
  max-width: 150px;
}
#time {
  min-width: 92px;
  width: 120px;
  display: flex;
  justify-content: center;
}
