extends base

block potato 
    div#upload-page        
        div#recordDiv
            video#preview(controls)
            button#previewRecBtn See Preview
            button#startRecBtn Start Recording
            button#download Download Recording
        form(method="POST", enctype="multipart/form-data")
            label(for="video") Video File
            input(type="file", name="video", id="video", required accept="video/*")
            input(name="title", placeholder="Title", required, autofocus, type="text" minlength=1 maxlength=80)
            input(name="description", placeholder="Description", required, type="text" minlength=4, maxlength=300)
            input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text")
            button(type="submit") Upload

block scripts
    script(src="/assets/js/recorder.js")