include mixins/message

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{pageTitle} | #{siteName}
        
    body
        include partials/navbar
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        block potato
        include partials/footer
    script(src="/assets/js/main.js")
    block scripts
    //- PUG and Express are configured to be able to access the locals inside response
    //- and flash gives messages. once.