extends base

block potato
    if (user.socialOnly === false)
        if (errorMessage)
            h4=errorMessage
        form.form(method="post")
            input(type="password", name="oldpassword" placeholder="Old Password" required autocomplete="false")
            input(type="password", name="newpassword" placeholder="New Password" required autocomplete="false")
            input(type="password", name="confirmpassword" placeholder="Confirm New Password" required autocomplete="false")
            button(type="submit") Update Password
    else
        if (errorMessage)
            h4=errorMessage
        form.form(method="post")
            input(type="password", name="newpassword" placeholder="Create a Password" autocomplete="false")
            input(type="password", name="confirmpassword" placeholder="Confirm Password" autocomplete="false")
            button(type="submit") Create Password
