extends base

block potato
    if (user.socialOnly === false)
        if (errorMessage)
            h4=errorMessage
        form(method="post")
            input(type="password", name="oldpassword" placeholder="Old Password" required)
            input(type="password", name="newpassword" placeholder="New Password" required)
            input(type="password", name="confirmpassword" placeholder="Confirm New Password" required)
            button(type="submit") Update Password
    else
        if (errorMessage)
            h4=errorMessage
        form(method="post")
            input(type="password", name="newpassword" placeholder="Create a Password")
            input(type="password", name="confirmpassword" placeholder="Confirm Password")
            button(type="submit") Create Password
