extends base

block potato
    include partials/pageheader
    div#profile-page
        if (errorMessage)
            h2#error=errorMessage
        form.form(method="POST" enctype="multipart/form-data")
            if (!user.socialOnly)
                label(for="avatar") Change Avatar 
                input(type="file" id="avatar" name="avatar" accept="image/*")
            label(for="name") Name
            input(name="name" type="text" value=`${user.name}`)
            label(for="username") Username
            input(name="username" type="text" value=`${user.username}`)
            label(for="email") Email
            input(name="email" type="text" value=`${user.email}`)
            button(type="submit") Update
        a(href="change-password")
            span.blue-link Change password &rarr;