extends base
include mixins/video

block potato
    include partials/pageheader
    div#home-page
    
        div#vid-display-outer-div
            div.videos-display
                each banana in videos
                    +video(banana)
                else
                    li sorry, nothing found.