extends base
include mixins/video

block potato
    include partials/pageheader
    div#home-page
        div.latest_div
            h1#latest_uploads_h1 🔥 Latest uploads 🔥
        div#vid-display-outer-div
            div.videos-display
                each banana in videos
                    +video(banana)
                else
                    li sorry, nothing found.