extends base

block potato
    header
        form(method="POST") 
            input(name="title" type="text")
            textarea(name="synopsis" cols="30" rows="10")
            input(name="genres" type="text")
            button(type="submit") Update
